body {
    margin: 0;
    background-image: url("https://raw.githubusercontent.com/BoonVersa/UX_UI_HW_19/main/images/New%20York%20Obsession%201NYO%20(2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section h1 {
    order: -1;
    border: 1px solid red;
  }
  section div {
    border: 1px solid red;
    padding: 0px;
    margin: 30px;
  }
  section {
    display: flex;
    align-items: center;
    padding: 50px;
  }
  .FlexContainter {
    border: 5px solid blue;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 70vh;
    background-color: rgb(131, 131, 131);
  }
  .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
  }
  .one img {
    margin: 0px 0;
  }
   .one h3, .one p {
    margin: 40px 0;
  }
  button {
    padding:  8px;
    margin: 0px;
  }
  .one * {
    border: 0px solid red;
    padding: 10px;
    margin: 0px;
  }
    header {
      display: flex;
      align-items: center;
      margin: 0px;
    }
    .header-nav {
      display: flex;
      align-items: center;
      border: 0px solid red; /* added red border */
      padding: 0px;
      flex-direction: row;/* added some padding inside the red border */
      background-color: #441c22; /* added light gray background color */
    }
  ul {
    display: flex;
    list-style: none;
    font-family: 'Gruppo', sans-serif;
    font-size: 25px;
  }
  li {
    padding: 0 50px;
  }
  .logo {
    width: 90px;
  }
  footer {
    background-color: #441c22;
    color: white;
    padding: 00px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: white;
  }
  @media screen and (max-width: 600px) {
  .FlexContainter {
    flex-direction:  column;
    }
    .one {
      width: 100%;
    }
    ul {
      font-size: 20px;
    }
  }
  .stack {
    align-items: center;
    justify-content: center;
  }
  .mainb {
    height: 100%px;
  }
  .myskills {
    font-family: 'Gruppo', sans-serif;
  }
  .clu {
    font-family: 'Gruppo', sans-serif;
    font-size: 40px;
    color: aliceblue;
  }
  .clu::before,
  .clu::after {
    content: "";
    display: inline-block;
    width: 340px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px;
    position: relative; /* added position property */
    top: -5px; /* added top property with a negative value */
  }
  img {
    width: 50%;
  }
  .spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  p {
    background-color: white;
    padding: 0px;
    margin:  0px;
  }
